# Prefix for containers.
COMPOSE_PROJECT_NAME=laravel-docker

# Path to root of project.
PROJECT_ROOT="../"

# User ID and Group ID.
UID=1000
GID=1000

# Database credentials.
DB_DATABASE=database-name
DB_USERNAME=root
DB_PASSWORD=root
DB_PORT_EXTERNAL=5432

# Nginx Settings
NGINX_PORT_EXTERNAL=80

# Redis Settings
REDIS_PORT_EXTERNAL=6379
